.header {
  height: 16vh;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 10% 90%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;

  .siteLogoLink {
    background-image: none;
    align-self: center;
    min-width: 40px;
    max-width: 80px;
  }

  .navigationLinks {
    align-self: center;
    margin-bottom: 0;
    justify-self: end;
    text-shadow: none;

    .navigationLink {
      display: inline-block;
      margin: 1rem;
      // width: 100px;
    }
  }
}