@import '../styles/theme.scss';

.header {
  height: 16vh;
  padding-right: 1.2rem;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $white;
  box-shadow: 0px 2px 10px -2px $black-opacity;

  .siteLogoContainer {
    align-self: center;
    justify-self: start;
    display: grid;
  .navigationLinks {
    align-self: center;
    margin: 0;
    justify-self: end;

    .siteLogo {
      height: 120px;
      max-height: 12vh;
    }
    
    @media screen and (min-width: 641px) {
      .siteLogo {
        max-height: 112px;
      }
    }
  }
}

  @media screen and (min-width: 800px) {
    .navigationLink {
      width: 100px;
    }
  }
}