@import '../styles/theme.scss';

.toursContainer {
  .tourContainer {
    position: relative;

    .tourType {
      color: $white;
      position: absolute;
      top: 3%;
      background: $red;
      padding: 0 1rem;
    }

    .tourTypeDescription:hover {
      background: $red;
      color: $white;
    }

    .tourTypeDescription {
      background: $red;
      color: $white;
      font-weight: 600;
      padding: 0.5rem;
      width: 100%;
      display: flex;
      align-items: center;

      p {
        margin: 0;
        width: 100%;
      }
    }
  }

  .tourContainer:last-of-type {
    .tourType {
      right: 0;
      background: $white;
      color: $red;
    }
  }
}

@media screen and (min-width: 840px) {
  .toursContainer {
    display: grid;
    grid-template-columns: 50% 50%;

    .tourContainer {
      margin: 0 1rem;

      .tourTypeDescription {
        // background: $white;
        // color: $red;
        // background: $red-opacity;
        // color: $white;
        font-size: 1em;
        padding: 1rem;
        height: 38%;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .toursContainer {
    .tourContainer {
      .tourTypeDescription {
        font-size: 1em;
        padding: 1rem;
        height: 30%;
      }
    }
  }
}

@media screen and (min-width: 1160px) {
  .toursContainer {
    .tourContainer {
      .tourTypeDescription {
        font-size: 1em;
        padding: 1rem;
        height: 20%;
      }
    }
  }
}