@import '../styles/theme.scss';

.valuesContainer {
    display: grid;

  .valueContainer {
    display: grid;

    .valueImageContainer {
      position: relative;
      height: 360px;
      box-shadow: 0px 2px 10px -2px $black-opacity;

    picture::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
      height: 100%;
      width: 100%;
    }
  
      .valueName {
        position: absolute;
        top: 0%;
        width: 80%;
        left: 10%;
        font-weight: 500;
        color: $orange;
        padding: 1rem;
        // box-shadow: $orange -20px 5px 0px 0px;
        box-shadow: $red -20px 5px 0px 0px;

      }
    }

    .valueDescription {
      box-shadow: 0px 2px 10px -2px $black-opacity;
      background: $orange;
      color: $white;
      height: 100%;
      padding: 3rem;
      display: grid;
      align-items: center;
      text-align: left;

      p {
        margin:0;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .valueContainer {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
}