@import '../styles/theme.scss';

.container {
    box-shadow: 0px 2px 10px -2px $black-opacity;
    background: $green-1;
    background: $white;
    border-left: 10px solid $red;
    padding: 3rem;
    quotes: "\201C""\201D""\2018""\2019";

    .quote {
      display: inline;

      p:first-of-type {
        display: inline;
      }
  
      p:nth-child(2) {
        margin-top: 2rem;
      }
    } 
    .author {
      margin: 0;
    }
  }

  .container:before {
    color: $orange;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  } 