@import '../styles/theme.scss';

.toursContainer {
  .tourContainer {
    position: relative;
    margin: 1.5rem 3rem;

    .tourType {
      color: $white;
      font-size: 1em;
      position: absolute;
      top: 3%;
      background: $red;
      padding: 0 1rem;
    }
    .tourTypeDescription:hover {
      background: $red;
      opacity: 0.8;
      color: $white;
      font-weight: 600;
    }
    .tourTypeDescription {
      color: $black;
      font-size: 1em;
      position: absolute;
      bottom: 0;
      background: $light-green-opacity;
      padding: 0.5rem;
      width: 100%;

      p {
        margin: 0;
      }
    }
  }

  .tourContainer:last-of-type {
    .tourType {
      color: $red;
      font-size: 1em;
      position: absolute;
      top: 3%;
      right: 0;
      background: $white;
      padding: 0 1rem;
    }
  }
}

@media screen and (min-width: 840px) {
  .toursContainer {
    display: grid;
    grid-template-columns: 50% 50%;

    .tourContainer {
      // margin: 0;
      margin: 0 1rem;

      .tourTypeDescription {
        font-size: 1em;
        padding: 1rem;
        height: 38%;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .toursContainer {
    .tourContainer {
      .tourTypeDescription {
        font-size: 1em;
        padding: 1rem;
        height: 28%;
      }
    }
  }
}

@media screen and (min-width: 1160px) {
  .toursContainer {
    .tourContainer {
      .tourTypeDescription {
        font-size: 1em;
        padding: 1rem;
        height: 20%;
      }
    }
  }
}